$primary-color: #1D1D1F;
$gray-color: #696972;
$secondary-color: #FA2D48;
$hover-secondary-color: #D82941;

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@mixin transition-ease {
    transition: all .5s ease-in-out;
}

@function set-text-color($color) {
    @if (lightness($color) > 40% ) {
        @return #000;
    } @else {
        @return #f5f5f7;
    }
}

@mixin media-md {
    @media screen and (min-width: 600px) {
        @content;
    }
}

@mixin media-lg {
    @media screen and (min-width: 900px) {
        @content;
    }
}

@mixin media-xl {
    @media screen and (min-width: 1024px) {
        @content;
    }
}

@mixin media-xxl {
    @media screen and (min-width: 1700px) {
        @content;
    }
}